<h1 mat-dialog-title>Information</h1>
<div mat-dialog-content>
  <div>
    <a href="https://github.com/mimblewimble/grin" target="_blank">Grin</a> is a blockchain and a cryptocurrency focused on privacy and scalability. Grin is also an implementation of the MimbleWimble transaction format with the extensions required for a complete blockchain.
  </div>
  <br/>
  <div>
    This web UI needs to connect to a running, reachable grin wallet. All functionality is in dummy mode awaiting the grin wallet API.
  </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-flat-button mat-dialog-close>Close</button>
</div>
